---
import Logo from "../assets/color-letter.svg";
import IconHamburger from "../assets/icons/icon-hamburger.svg";
import IconClose from "../assets/icons/icon-close.svg";
import Social from "./atoms/Social.astro";
import LanguageSelector from "./atoms/LanguageSelector.astro";

import es from "../i18n/es.json";
import en from "../i18n/en.json";
import de from "../i18n/de.json";

interface Props {
    index: number;
}

const { index } = Astro.props;

const lang = Astro.params.lang || "es";
const t = lang === "es" ? es : lang === "en" ? en : de;

const headers = [t.nav.home, t.nav.campers, t.nav.contact];

const getClass = (inx: number) => {
    return inx === index
        ? "!text-[#121212] underline text-brevia"
        : "text-brevia hover:text-[#121212] hover:underline cursor-pointer";
};

const getRoute = (inx: number) => {
    switch (inx) {
        case 0:
            return `/${lang}/`;
        case 1:
            return `/${lang}/campers`;
        case 2:
            return `/${lang}/contact`;
    }
};

const getLateralClass = (inx: number) => {
    return inx === index ? "bg-[#F6F6F6]" : "hover:bg-[#F6F6F6] cursor-pointer";
};
---

<header class="flex items-center justify-center w-full h-[100px] relative">
    <!-- Normal header -->

    <div
        class="w-full max-w-[1200px] flex-row items-center justify-between px-[50px] py-2 lg:flex hidden"
    >
        <div class="flex flex-row items-center">
            <Logo class="w-[70px] mr-[2rem]" />

            <div
                class="flex flex-row gap-x-5 [&>*]:text-[#4D4D4D] [&>*]:text-[14px]"
            >
                {
                    headers.map((val, index) => (
                        <a class={getClass(index)} href={getRoute(index)}>
                            {val}
                        </a>
                    ))
                }
            </div>
        </div>

        <LanguageSelector index={1} />
    </div>

    <!-- Responsive header -->

    <div
        class="w-full max-w-[1200px] flex flex-row items-center justify-between px-[50px] py-2 lg:hidden fixed z-50 top-0 bg-white"
    >
        <IconHamburger
            id="iconHamburger"
            class="w-[20px] h-[20px] cursor-pointer hover:scale-105"
        />
        <IconClose
            id="iconClose"
            class="w-[20px] h-[20px] cursor-pointer hover:scale-105 hidden"
        />

        <Logo class="w-[70px] mr-[2rem]" />

        <div></div>
    </div>

    <!-- Lateral menu -->

    <div
        id="lateralMenu"
        class="absolute left-0 top-[86px] w-full h-[calc(100dvh-86px)] bg-[#12121280] flex hidden lg:hidden z-50 fixed"
    >
        <div
            class="left-0 w-[28rem] max-w-[70vw] bg-white flex flex-col justify-between"
        >
            <div class="py-[30px] gap-y-[1px] flex flex-col">
                {
                    headers.map((val, index) => (
                        <a
                            class={`px-[30px] py-[11px] ${getLateralClass(index)}`}
                            href={getRoute(index)}
                        >
                            <span class="text-brevia">{val}</span>
                        </a>
                    ))
                }
            </div>

            <div class="bg-[#F6F6F6] flex flex-col gap-y-8 px-[30px] py-[20px]">
                <LanguageSelector index={2} />
                <Social />
            </div>

            <script is:inline>
                const iconHam = document.getElementById("iconHamburger");
                const iconClose = document.getElementById("iconClose");
                const lateralMenu = document.getElementById("lateralMenu");

                function toggleVisibility() {
                    lateralMenu.classList.toggle("hidden");
                    iconHam.classList.toggle("hidden");
                    iconClose.classList.toggle("hidden");
                }

                iconHam.addEventListener("click", toggleVisibility);
                iconClose.addEventListener("click", toggleVisibility);
            </script>
        </div>
    </div>
</header>
