---
import AButtonSecondary from "../../components/atoms/AButtons/AButtonSecondary.astro";
import HighlightCamper from "../../components/molecules/HighlightCamper.astro";
import LayoutPage from "../../layouts/LayoutPage.astro";
import IconVan from "../../assets/icons/icon-van.svg";
import IconPet from "../../assets/icons/icon-pet.svg";
import IconSaw from "../../assets/icons/icon-saw.svg";
import Questions from "../../components/molecules/Questions.astro";

import es from "../../i18n/es.json";
import en from "../../i18n/en.json";
import de from "../../i18n/de.json";

import "../../styles/global.css";

export function getStaticPaths() {
	return [
		{ params: { lang: "es" } },
		{ params: { lang: "en" } },
		{ params: { lang: "de" } },
	];
}

export const defaultRedirect = "/es";

const lang = Astro.params.lang || "es";
const t = lang === "es" ? es : lang === "en" ? en : de;
---

<LayoutPage title="Hey Camper" indexMenu={0}>
	<div class="h-[280px] md:h-[420px]">
		<div
			class="w-[100dvw] h-[300px] md:h-[420px] text-white absolute flex justify-center left-0 bg-banner-img"
		>
			<div
				class="max-w-[1200px] w-full md:p-[50px] px-[15px] py-[40px] z-5 flex flex-col justify-center"
			>
				<span class="text-brevia text-[30px] md:text-[40px]">
					{t.home.header_1}
				</span>

				<span class="opacity-75 text-[16px] mt-[10px]">
					{t.home.subheader}
				</span>

				<AButtonSecondary
					label={t.home.cta_header}
					link={`/${lang}/campers`}
				/>
			</div>
			<div class="bg-black opacity-25 w-full h-full absolute"></div>
		</div>
	</div>

	<HighlightCamper />

	<div class="h-[270px] md:h-[270px]">
		<div
			class="w-[100dvw] h-[270px] md:h-[270px] text-white absolute flex justify-center left-0 bg-[#F5F5F5]"
		>
			<div
				class="max-w-[1200px] w-full md:p-[50px] px-[15px] py-[40px] flex flex-row justify-between gap-x-10 overflow-x-scroll"
			>
				<div class="flex flex-col justify-center items-center gap-y-5">
					<IconVan class="w-[100px] h-[100px]" />
					<span
						class="text-brevia text-[#8FB990] text-[18px] text-nowrap"
					>
						{t.home.info_1}
					</span>
				</div>

				<div class="flex flex-col justify-center items-center gap-y-5">
					<IconSaw class="w-[100px] h-[100px]" />
					<span
						class="text-brevia text-[#8FB990] text-[18px] text-nowrap"
					>
						{t.home.info_2}
					</span>
				</div>

				<div class="flex flex-col justify-center items-center gap-y-5">
					<IconPet class="w-[100px] h-[100px]" />
					<span
						class="text-brevia text-[#8FB990] text-[18px] text-nowrap"
					>
						{t.home.info_3}
					</span>
				</div>
			</div>
		</div>
	</div>

	<div class="flex flex-col items-center my-10">
		<div class="md:w-[70%] w-full mb-5 border-[#F5F5F5] border-b-[1px]">
			<div class="w-full flex flex-col p-5 mb-5">
				<span class="text-brevia text-[#8FB990] text-[40px] mb-5">
					{t.home.insurance}
				</span>
				<p class="text-[#747474]">
					{t.home.insurance_text}
				</p>
			</div>

			<img
				src="/images/insurance-camper.webp"
				alt="Insurance Hey Camper"
				class="h-[300px] w-full object-cover px-10 mb-3"
			/>
		</div>

		<div class="md:w-[70%] w-full mb-5 border-[#F5F5F5] border-b-[1px]">
			<div class="w-full flex flex-col p-5 mb-5">
				<span class="text-brevia text-[#8FB990] text-[40px] mb-5">
					{t.home.pickup_place}
				</span>
				<p class="text-[#747474]">
					{t.home.pickup_place_text}
				</p>
			</div>

			<img
				src="/images/give-camper.webp"
				alt="Give Hey Camper"
				class="h-[300px] w-full object-cover px-10 mb-3"
			/>
		</div>

		<div class="md:w-[70%] w-full mb-5">
			<div class="w-full flex flex-col p-5 mb-5">
				<span class="text-brevia text-[#8FB990] text-[40px] mb-5">
					{t.home.pickup_time}
				</span>
				<p class="text-[#747474]">
					{t.home.pickup_time_text}
				</p>
			</div>

			<img
				src="/images/time-camper.webp"
				alt="Time Hey Camper"
				class="h-[300px] w-full object-cover px-10 mb-3"
			/>
		</div>
	</div>

	<Questions />
</LayoutPage>
