---
import AButtonPrimary from "../atoms/AButtons/AButtonPrimary.astro";

import es from "../../i18n/es.json";
import en from "../../i18n/en.json";
import de from "../../i18n/de.json";

const lang = Astro.params.lang || "es";
const t = lang === "es" ? es : lang === "en" ? en : de;
---

<div
    class="flex flex-row lg:justify-between justify-center items-center py-[36px] flex-wrap"
>
    <img
        src="/images/main-camper.webp"
        alt="Camper Adventure main image"
        class="w-[600px]"
    />

    <div
        class="flex flex-col gap-y-3 max-w-[300px] lg:ml-[40px] mx-[10px] mt-5"
    >
        <span class="text-brevia text-[#8fb990] text-[40px]">
            {t.highlight_product.name}
        </span>

        <span class="text-[18px]"> {t.highlight_product.price} </span>

        <p
            class="text-[#4D4D4D] text-[16px] leading-[28px] tracking-[0.6px] mb-[40px]"
        >
            {t.highlight_product.description}
        </p>

        <AButtonPrimary
            label={t.highlight_product.cta}
            link={`/${lang}/camper/adventure`}
        />
    </div>
</div>
