---
import QuestionField from "../atoms/QuestionField.astro";

import es from "../../i18n/es.json";
import en from "../../i18n/en.json";
import de from "../../i18n/de.json";

const lang = "es";
const t = lang === "es" ? es : lang === "en" ? en : de;
---

<div
    class="md:w-[50%] w-[80%] flex flex-col items-center justify-center self-center mb-10"
>
    <span class="text-brevia text-[40px] mb-8 text-[#8FB990]"
        >{t.home.questions}</span
    >

    <QuestionField
        index={0}
        question={t.home.question_1}
        response={t.home.question_1_response}
    />

    <QuestionField
        index={1}
        question={t.home.question_2}
        response={t.home.question_2_response}
    />

    <QuestionField
        index={2}
        question={t.home.question_3}
        response={t.home.question_3_response}
    />

    <QuestionField
        index={3}
        question={t.home.question_4}
        response={t.home.question_4_response}
    />
</div>
