---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
	title: string;
	indexMenu: number;
}

const { title, indexMenu } = Astro.props;
const lang = Astro.params.lang || "es";
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="flex flex-col">
		<Header index={indexMenu} />
		<main class="w-full flex justify-center flex-1 lg:mt-0 mt-[86px]">
			<div
				class="max-w-[1200px] w-full md:px-[50px] px-[15px] flex flex-col"
			>
				<slot />
			</div>
		</main>
		<Footer />
	</body>

	<script is:inline>
		const select1 = document.getElementById("lang-selector-1");
		const select2 = document.getElementById("lang-selector-2");
		const select3 = document.getElementById("lang-selector-3");

		function changeLang(target) {
			let selectedLang = target.value;

			let newPath = window.location.pathname.replace(
				/^\/(es|en|de)/,
				`/${selectedLang}`,
			);

			window.location.pathname = newPath;
		}

		select1.addEventListener("change", ({ target }) => changeLang(target));
		select2.addEventListener("change", ({ target }) => changeLang(target));
		select3.addEventListener("change", ({ target }) => changeLang(target));
	</script>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
